<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TQWN23MRX7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TQWN23MRX7');
  </script>

  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <h2> home page test révision certif</h2>
  <h2>Et ça marche</h2>
  <h3> Hello Batch 548  </h3>


</body>
</html>
